body {
    background-image: none;
    background-color: transparent;
}
header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 0;
}

header h1 {
    color: red;
    text-shadow: 0 0 5px yellow;
    font-size: 4em;
}

header img {
    height: 5em;
    width: 5em;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

ul li {
    margin: auto 0.5em;
    font-size: 2em;
    font-family: "Roboto Mono";
    color: #e0610c;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #12249e;
}

.intro {
    display: flex;
    height: 18.75em;
    background-image: url("fresh-fruits-2305192_1920.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 3em;
    justify-content: center;
}

.intro section {
    display: block;
    margin: auto;
    background-color: white;
    width: 100%;
    
}

section h1 {
    display: block;
    font-family: "Fascinate";
    color: #12249e;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

section h4 {
    display: block;
    font-family: "Roboto Mono", monospace;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.products h1 {
    display: block;
    font-family: "Fascinate";
    color: #12249e;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
}

.products {
    min-height: 500px;
    margin: auto;
    padding-top: 70px;
    display: block;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

figure {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    
    padding: 10px;
    height: auto;
}

figure span {
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
    font-family: "Roboto Mono";
    font-size: 1.5em;
    margin: 0;
}
